body {
    font-family: Arial;
    background: #b01220;
    color: white;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.box {
    width: 350px;
    background: #111a2e;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.buttons button{
    padding: 10px;
    margin: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#seek {
    width: 100%;
    margin-top: 20px;
}