body{
    background-color: black;
}
h2,h3{
    color: white;
}
ol{
    color: white;
}

.memes{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.memes video{
    height: 150px;
    border-radius: 10px;
}

.header{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}